/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-7-18, 18:16:49
    Author     : buff
*/
.import_style {
  color: blue;
  font-size: 20px; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f6f4f0; }

.w50 {
  width: 50px; }

.h50 {
  height: 50px; }

.abs {
  position: absolute; }

.w_100_ {
  width: 100%; }

.bottom_0 {
  bottom: 0px; }

.rel {
  position: relative; }

.fixed {
  position: fixed; }

.red {
  color: red; }

.purple {
  color: #da00ff; }

.green {
  color: green; }

.container.no-pd {
  padding: 0; }

.text-indent {
  text-indent: 2em; }

body, ol, ul, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0; }

body {
  font: 13px/1.5 'Arial','Microsoft YaHei',"Arial Narrow",HELVETICA;
  -webkit-text-size-adjust: 100%; }

a {
  color: #2d374b;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

input[type=text] {
  border: 1px #ccc solid;
  border-radius: 2px; }

@media (min-width: 768px) {
  .container {
    width: 1150px;
    padding: 0; } }
h1 {
  margin-top: 20px; }

.user_list {
  padding: 10px 15px;
  width: 225px;
  border: 1px solid #ccc;
  height: 500px; }
  .user_list h2 {
    margin-top: 0; }
  .user_list ul {
    max-height: 400px;
    overflow-y: auto; }
    .user_list ul li {
      font-size: 18px;
      cursor: pointer;
      position: relative; }

.gui {
  width: 900px;
  margin-left: 25px;
  height: 500px; }
  .gui .gui_content {
    overflow-y: auto;
    padding: 10px;
    width: 650px;
    height: 100%;
    border: 1px solid #ccc; }
  .gui .gui_user {
    padding: 10px;
    border: 1px solid #ccc;
    width: 225px;
    margin-left: 25px;
    height: 100%; }

.mes_item {
  padding-bottom: 10px;
  font-size: 20px; }
  .mes_item .user_name {
    color: blue; }
  .mes_item time {
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 16px;
    margin-left: 10px; }
  .mes_item .message {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 40px;
    max-width: 560px; }
    .mes_item .message.self {
      background-color: #bfd7ef; }
    .mes_item .message.other {
      background-color: #ccc; }

.public_yzm {
  width: 100px; }
  .public_yzm img {
    position: absolute;
    top: 25px;
    left: 100px; }

#user_input {
  padding: 5px 10px;
  margin-top: 10px;
  width: 100%;
  resize: none; }

.gui_input {
  width: 650px;
  position: relative; }
  .gui_input button {
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 2px 10px; }

#isClose {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  z-index: 67; }
  #isClose .cont {
    background-color: #fff;
    width: 320px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    #isClose .cont p {
      text-align: center;
      line-height: 200px;
      font-size: 30px;
      color: red;
      vertical-align: middle; }

#sixindiv, #reqsixindiv {
  display: none;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 66;
  background-color: whitesmoke;
  border: 1px solid whitesmoke; }
  #sixindiv textarea, #reqsixindiv textarea {
    width: 400px;
    height: 150px;
    resize: none;
    margin-top: 5px; }
  #sixindiv p, #reqsixindiv p {
    font-size: 20px; }
  #sixindiv button, #reqsixindiv button {
    position: absolute;
    right: 15px;
    bottom: 20px;
    padding: 2px 10px; }
  #sixindiv .close, #reqsixindiv .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px; }

/*# sourceMappingURL=style.css.map */
